<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Css Grid</title>
</head>

<body>
    <div class="container">
        <div class="item item1">1</div>
        <div class="item item2">2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vitae impedit natus modi architecto nulla unde ipsam laborum ad accusantium quae, perferendis minima dolorum quam eveniet iusto. Dicta soluta omnis voluptatum reiciendis vel dolorum
            praesentium modi, eaque provident deleniti veniam necessitatibus. Amet, dolore sit. Minus assumenda ut veritatis porro nam atque eligendi dolorem placeat! Qui repudiandae itaque est. Consequuntur, commodi ea at esse in, fugiat natus vel dolor
            impedit a eveniet nesciunt et ratione labore excepturi dolores perspiciatis distinctio tempore delectus. Possimus molestiae illo ab provident laudantium natus esse, voluptatum, id quis non ut, libero saepe eum sunt deserunt tempora odio a
            recusandae quam ipsum maxime inventore facere animi veniam. Voluptates dolorem cum ducimus quaerat quasi quis, repudiandae vel quos nulla at. Fuga repellendus quasi facilis dolorum alias totam odit aspernatur harum? Officia fugiat cupiditate
            vel tempore unde fuga quae aperiam. Odio, illo ab? Vero maxime mollitia quod iste aut recusandae error qui labore nisi distinctio ad provident voluptas, necessitatibus iure fugit assumenda dolore id alias quibusdam eveniet numquam sit incidunt.
            Alias, nulla magni beatae unde iste adipisci minima possimus dolor enim exercitationem dolores nisi ea voluptatem inventore! Dolor repellendus aut dolores animi molestiae praesentium consectetur, voluptas in aspernatur explicabo commodi! Impedit
            debitis sint placeat ab dolore et fugit. Quae dignissimos doloremque rem dolore quas ex quisquam temporibus, illum laudantium mollitia eveniet id, officia est ipsam aut ab laboriosam facilis sed soluta perferendis veniam quasi sapiente enim
            debitis. Aspernatur ea aperiam, eos molestiae corporis porro facilis, magni expedita, repudiandae eveniet tenetur pariatur dolorum quia voluptates provident inventore. Quia nisi, hic alias fugiat quos beatae aspernatur, placeat asperiores
            corrupti enim id quisquam repellat vel! Aspernatur vero mollitia totam non eius perferendis necessitatibus repudiandae ipsam magnam beatae. Quas nesciunt eveniet aliquam perferendis hic expedita suscipit, eaque repudiandae illo minus praesentium,
            placeat rem? Pariatur dolores porro cumque, enim sunt, placeat dolor, id provident omnis animi natus illo labore quis atque repellendus sint expedita quisquam obcaecati soluta? Iure quia repudiandae placeat quibusdam obcaecati ipsum officiis
            omnis iste dolorem cum pariatur architecto eligendi earum ad facilis distinctio ipsa, possimus quidem. Quis accusantium, tenetur praesentium quidem animi quo quae tempore explicabo magni commodi? Cumque, odit voluptatibus. Similique eaque
            consequatur nostrum velit magni quas illum eius aspernatur! Quos error quidem, in recusandae provident veritatis quia ut quod reprehenderit ipsa unde libero, sit labore dolores architecto cumque voluptas id necessitatibus. Odit culpa aliquid
            est, deleniti nemo harum reprehenderit itaque molestias, alias eum a velit debitis neque tempore dolorum laudantium sunt similique, sed soluta obcaecati maiores dignissimos? Doloremque qui totam, quae voluptate accusamus possimus accusantium
            porro debitis molestias repellat laborum repellendus, quia a? Eos repudiandae atque recusandae, aspernatur tempore doloribus perspiciatis, voluptatum fugit voluptatibus doloremque dolore optio facilis dolor in nisi, eligendi nostrum possimus
            aut? Dicta numquam excepturi asperiores saepe voluptates omnis at beatae quidem iste quam culpa, sapiente commodi libero autem nesciunt vel? Consectetur ab quis doloribus fugit maxime veniam temporibus architecto sunt tenetur vitae. Neque,
            amet? Voluptate laboriosam doloribus, sequi veniam aliquid placeat fugit magni numquam vero?</div>
        <div class="item item3">3</div>
        <div class="item item4">4</div>
    </div>
</body>

</html>